<div class="alert alert-success" role="alert">
  <h5 class="alert-heading fw-bold">Order Status: Confirmed</h5>
  <p>Your order has been successfully confirmed and is now being processed.</p>
  <%= link_to "Orders", orders_path, class: "text-decoration-none text-primary"%>
</div>
