<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <%= render 'layouts/navbar'%>
    <% unless current_page?(new_user_session_path) || current_page?(new_user_registration_path) %>
      <%= render 'layouts/category_nav' %>
    <% end %>
    <div class="container mx-auto mt-5">
      <%= yield %>
    </div>
  </body>
</html>
