<div class="container-md mx-auto">
  <h1 class="fw-bold fs-4">New Product</h1>
  <%= render 'form', product: @product%>
  <%= link_to "Back to products", admin_products_path, class: "btn btn-secondary mt-2 fw-medium" %>
</div>
