<div class="container-md mx-auto">
  <h1 class="fw-bold fs-4">New category</h1>
  <%= render 'form', category: @category%>
  <%= link_to "Back to categories", admin_categories_path, class: "btn btn-secondary mt-2 fw-medium" %>
</div>
